<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> raccourci URL </mat-card-title>
    </mat-card-header>
    <form (submit)="generate(longUrl)">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Url..."
            [(ngModel)]="longUrl"
            type="text"
            name="longUrl"
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <mat-spinner *ngIf="loading" diameter="32"></mat-spinner>
        </button>
        <button type="submit" mat-button color="primary" *ngIf="!loading">
          Generate
        </button>
      </mat-card-actions>
    </form>
    <mat-error *ngIf="errMess">
      {{ errMess }}
    </mat-error>
    <a mat-button (click)="navigate()">{{ shortUrl }}</a>
    <button
      [cdkCopyToClipboard]="shortUrl"
      mat-button
      color="warn"
      *ngIf="shortUrl"
    >
      Copy to clipboard
    </button>
  </mat-card>
</div>
