<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Login </mat-card-title>
    </mat-card-header>
    <form (submit)="login(user)">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Email"
            [(ngModel)]="user.email"
            type="text"
            name="email"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Password"
            [(ngModel)]="user.password"
            type="password"
            name="password"
          />
        </mat-form-field>
        <mat-spinner *ngIf="loading" diameter="32"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-button color="primary">Login</button>
      </mat-card-actions>
    </form>
    <mat-error *ngIf="errMess">
      {{ errMess }}
    </mat-error>
  </mat-card>
</div>
